  </section>
<footer class="text-center text-white footer">
  <div class="text-center">
    ©CMDB DEMO
  </div>
</footer>

  <!-- Scripts -->

  <!-- Jquery -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- My Script -->
  <script
    src="index.js"
  ></script>

</body>
</html>