.gradient-custom, body {
  color: white;
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
}

/* Elements */
a {
  text-decoration: none;
}

th, a, h2{
  text-align: center;
}

h3{
  margin-bottom: 0;
}

section{
  height: 90%;
}

input {
  padding: 3px 0 3px 5px;
  width: 100%;
}

label {
  text-align: right;
}

/* Bootstrap */
.row {
  margin: auto;
  align-items: center;
}

.container1 {
  margin: 50px 30px 0px;
}

.container2 {
  margin: 50px 7% 0px 1%;
  font-size: large;
}

.text-underline-hover {
  text-decoration: none;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: auto;
  }

/* Search Bar */

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid rgba(51, 51, 51, 0.1);
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search .searchbardomainbtn {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 100px;
  text-align: center;
}

.searchbardomain{
  margin-top: 50px;
  justify-content:center;
  align-items: center;
  display: flex;
}

/* Search Bar */

.navname{
  margin-right: auto;
}

.editbtn{
  width: 100%;
  text-align: center;
  margin: 60px 0;
}

.Editing{
  margin-right: 20px;
}

.editbtnstyle{
  padding-left: 50px;
  padding-right: 50px;
  color: black;
}

.searchbar{
  width: 20%;
  margin-right: 5px;
}

.formpostion{
  display: flex;
}

.editbtn{
  color: black;
}

@media screen and (max-width: 600px) {
    .search-bar {
      width: 90%;
      font-size: 90%;
    }
    .footer {
      position: relative;
    }

    .searchbar{
      width: 80%;
      margin-right: 5px;
    }
    .Editing{
      margin-right: 20px;
      width: 100%;
      text-align: center;
    }
    .navname{
      width: 77%;
      margin-right: 0;
    }

    .editbtn{
      margin: 40px 0;
    }

    .searchbardomainbtn{
      width: 70px;
    }

    .search input {
      text-indent: 0;
    }
}

/* Server.ejs */

.righter {
  text-align: right !important;
}

.divmargin {
  margin: 5px auto;
}
.divsidemargin{
  margin-top: 50px;
}

.inliner {
  display: inline;
}

.inputStyle {
  color: white;
  border: none;
  display: inline;
}

/* nav bar */

.nav div {
  height: 4px;
  background-color: white;
  margin: 5px 0;
  border-radius: 25px;
  transition: 0.3s;
}
.nav {
  width: 30px;
  display: block;
  margin: 0 0 0 1em;
  
}
.one {
  width: 30px;
}
.two {
  width: 20px;
}
.three {
  width: 25px;
}

.nav:hover div {
  width: 30px;
}


/* nav bar */




